.pop-up{
    display:flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background:transparent ; */
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.login-pop-btn{
    padding: 3px;
    background-color: #6C5CE7;
    color: #ffffff;
    outline: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}
.remove-loginPop{
    background-color:#ffffff;
    outline: none;
    border: none;
    cursor: pointer;
}
.loader-wraper{
    min-height: 85vh;
 
}
.loader_container{
display: flex;
z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    justify-content: center;
    align-items: center;
}

/* From Uiverse.io by satyamchaudharydev */
.loading {
    --speed-of-animation: 0.9s;
    --gap: 6px;
    --first-color: #4c86f9;
    --second-color: #49a84c;
    --third-color: #f6bb02;
    --fourth-color: #f6bb02;
    --fifth-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 6px;
    height: 100px;

}

.loading span {
    width: 4px;
    height: 50px;
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
}

.loading span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
}

.loading span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
}

.loading span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
}

@keyframes scale {
    0%,
    40%,
    100% {
        transform: scaleY(0.05);
    }

    20% {
        transform: scaleY(1);
    }
}

.empty-detailArticle-div{
    min-height: 40rem;

}
.menubar{
    display: none;
}
@media (max-width:480px) {
    nav {
        position: fixed;
            z-index: 999;
            left: 0;
            top: 0;
            right: 0;
            display: flex;
            justify-content: space-between;
            padding: 0px 8px;
        }
    .nav-ul{
            font-family: 'Poppins';
                position: absolute;
                top: 65.5px;
                left: 60%;
                display: flex;
                flex-direction: column;
                background: #ffffff;
                align-items: center;
                width: 10rem;
                height: 100vh;
                padding: 10px 0px;
                transform: translateX(250px);
                transition: transform 0.3s ease;

    }
    .nav-ul.open{
   transform: translateX(0);
     
    }
    .open li a{
        color: black;
    }

    .links-grid{
        margin-left: 7px;
    }
    .menubar{
        position: relative;
        display: flex;
        cursor: pointer;
    }
    .open li:hover{
        background: #eeedec;
        text-align: center;
        width: 80%;
        border-radius:5px ;
    }
    .article-container{
        margin-top: 4rem;
    }
    .article-content{
        margin-top: 3rem;
    }
}
.cover{
    display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background:transparent ; */
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
}